<a href="https://colab.research.google.com/github/haynapasi050505/EDA-team-capstone-project-1/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

**WHAT IS EXPLORATORY DATA ANALYSIS**
A data exploration technique to understand the various aspects of the data and make conclusions about the given data.

**LET'S HAVE LOOK ON SOME OBJECTIVES OF EDA**

*  Filter the data from redundancies
* Build relationships between the variables

**STEPS INVOLVED IN EDA**
*   Understand the data
*   Clean the data
*   Analysis of relationship between the variables

**Vacation a single word is enough for the excitement we need**

Who doesn't want to explore new places and get experianced about coolest things in our world. Our vacation and exploring new places is straight forward business to some industries. The industry that is closely related is **'Hotel Industry'**. These hotel industry closely depends on travellers. 

The cost of booking a hotel varies accounding to many facilities it provides and on the rating of the hotel.

What if we could guess or be familiar with best time to book hotel at cheapest rates??

What if hoteliers coluld guess when the demands for their hotels are likely to increase and when the demands would be low??? They could optimize their funds so much better.

Let's dive into this data to see how many questions can we answer.

## **Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import matplotlib.patches as mpatches
import seaborn as sns
import warnings
from wordcloud import WordCloud
warnings.filterwarnings('ignore')

## **Mounting Drive** **and load Data set**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
dir_path = '/content/drive/MyDrive/Airbnb NYC 2019.csv'

In [ ]:
#df = pd.read_csv(dir_path)

## **Reading Airbnb Dataset**

In [ ]:
#dir_path = '/content/drive/MyDrive/almabetter/Copy of Airbnb NYC 2019.csv'

In [ ]:
df= pd.read_csv(dir_path)

## **Exploring Head and Tail parts of Dataset**

In [ ]:
df.head()

In [ ]:
df.tail()

## **Looking into Shape of the Dataset**

In [ ]:
df.shape

## **Let's study about each variable in the dataset**

This dataset has 48895 observations in it with 16 columns and it is a mix between categorical and numeric values.

1. id : Column id is a unique column in the dataset
2. name : This column contains the name of the listing.
3. host_id : This column contains the host IDs of the various hosts. Each host has a unique host ID.
4. host_name : This column contains the name of the hosts for a listing.
5. neighbourhood_group : It is an categorical column containg different neighbourhood groups.
6. neighbourhood : It is an categorical column containg the various neighbourhoods of a listing.
7. lattitude : It is an numerical column containg the latitude of the geographical location of the listing.
8. longitude : It is an numerical column containg the longitude of the geographical location of the listing.
9. room_type : It is an categorical column containg different room types.
10. price : This column contains the price of the listings.
11. minimum_nights : It contains the minimum number of nights spend by tourists in a listing.
12. number_of_reviews : This column shows how many reviews are there for a particular listings. 
13. last_review : This column contains the last date when the listing was reviewed. 
14. reviews_per_month : This column contains the number of reviews for a particular listing in a month.
15. calculated_host_listings_count : This column shows number of listings of a particular host.
16. avalaibility_365 : This column shows the avalaibilty of a listing on yearly basis.

In [ ]:
df.columns

## **Let's have some info about null values count and datatypes of variables**

In [ ]:
df.info()

## **Glance on summary of numeric variables**

In [ ]:
df.describe()

## <b>Checking the duplicate value and removing it if any

In [ ]:
#checking for duplicate values
df.duplicated().sum()
df.drop_duplicates(inplace=True)

## **Check for missing values**

In [ ]:
df.isnull().sum()

It is showing that we have 12 null values in 'name and 16  in 'host_name', 10052 in last_review and 10052 in reviews_per_month

**Visualizing the missing values**

with the help of heat map , we can see the amount of data is missing from the attribute. With this , we can make decisions whether to drop these missing values or to replace them.But dropping the missing values is not advisable but sometimes it may be helpful too.

In [ ]:
#spread of missing values
sns.heatmap(df.isnull() ,cbar = False , cmap = 'viridis')

Now we can see that there are many missing values in last_reviews and reviews_per_month. we cant drop these columns as it is vary important for our prediction.

In [ ]:
df.dtypes

In [ ]:
# dropping rows with missing values in name and host_name column
df.dropna(subset=['name'],inplace = True)
df.dropna(subset=['host_name'],inplace = True)

In [ ]:
# filling missing values of last_review variable with mode
df.fillna(df['last_review'].mode()[0], inplace = True)

In [ ]:
df.isnull().sum()

## **Checking for outliers**

In [ ]:
#checking for outliers in price column
sns.boxplot(x=df['price'])
plt.show()

In [ ]:
sns.displot(df['price'])
plt.show()

## **we can observe that the minimum price is zero that is unjustified**

In [ ]:
#checking the number of rows with price = 0 
len(df[df['price'] ==0])

In [ ]:
# as the prices of these Airbnb's are zero these are unjustified also their number is insignificant in the analysis 
df = df[df['price']!= 0]

In [ ]:
df.describe()

## **Dropping unnecessary columns**

In [ ]:
df.drop([ 'host_name' ] , axis = 1 ,inplace = True)
df.head()

In [ ]:
sns.displot(df['price']);

## **Look into corelation between variables**

In [ ]:
#plotting co-relation matrix
plt.figure(figsize = (10,10))
sns.heatmap(df.corr() , cbar = True , annot = True , cmap ='Blues')

**Possitive Correlation**

Price - avaliability_365 , calculated_host_listings , minimum_nights , host_id

minimum_nights - avaliability_365 , calculated_host_listings , price

calculated_host_listings - avaliability_365 , minimum_nights , price , host_id











**Negative Correlation**

price - number_of_reviews

minimum_nights - number_of_reviews,host_id

number_of_reviews - calculated_host_listings,minimum_nights , host_id

**All columns are numerically independent according to the correlation matrix**

## **Distribution of categorical columns**

## **neighbourhood_group**

Plotting the count plot of different neighbourhod_group

In [ ]:
sns.countplot(df['neighbourhood_group'], palette="magma")
fig = plt.gcf()
fig.set_size_inches(10,10)
plt.title('Neighbourhood Group')

*Most of the properties are located in Manhattan and Brooklyn follwed by Queens, Bronx and Staten Island respectively.*

## **neighbourhood**

**to increase the readability of the neighbourhood count plots ,each plot was created based on their respective neighbourhood_group category**

In [ ]:
for i in df['neighbourhood_group'].unique():

  sns.countplot(df[df['neighbourhood_group']== i]['neighbourhood'], palette="plasma")
  fig = plt.gcf()
  fig.set_size_inches(25,6)
  plt.title('Neighbourhood: ' + str(i))
  plt.tick_params(axis='x', rotation=90)
  plt.show()

## **What are the different room types, neighbourhood groups, and neighbourhood??**

In [ ]:
print('Count of different room types :',df['room_type'].nunique())
print(pd.unique(df['room_type']))

In [ ]:
print('Count of different neighbourhood groups types :',df['neighbourhood_group'].nunique())
print(pd.unique(df['neighbourhood_group']))

In [ ]:
print('Count of different neighbouhoodr types :',df['neighbourhood'].nunique())
print(pd.unique(df['neighbourhood']))

## Let's check for top 10 hosts

In [ ]:
count_host_id = pd.DataFrame(df['host_id'].value_counts())
count_host_id = count_host_id.reset_index().rename(columns = {'host_id': 'count', 'index' : 'host_id'})
count_host_id.head(10)

In [ ]:
#plotting top 10 hosts
data = count_host_id.head(10)

viz_bar = sns.barplot(x= 'host_id', y= 'count', color='g', data=data, order=data.sort_values('count',ascending = False).host_id)
viz_bar.set_title('Hosts with most listings')
viz_bar.set_xlabel('Host ID')
viz_bar.set_ylabel('Count of host listings')
plt.tick_params(axis='x', rotation=45)

plt.show()

**Host with host id 219517861 has maximum number of listings with 327 listings**

## **Let's check for highest listing in the neighbourhood**

In [ ]:
count_neighbourhood = pd.DataFrame(df['neighbourhood'].value_counts())
count_neighbourhood = count_neighbourhood.reset_index().rename(columns = {'neighbourhood': 'count', 'index' : 'neighbourhood'})
count_neighbourhood = count_neighbourhood.merge(df[['neighbourhood', 'neighbourhood_group']].drop_duplicates(keep = 'first'),on = 'neighbourhood', how = 'left')
count_neighbourhood[['neighbourhood_group','neighbourhood', 'count']].head(10)

In [ ]:
#plotting highest neighbourhood
data = count_neighbourhood[['neighbourhood', 'count']].head(10)

viz_bar = sns.barplot(x= 'neighbourhood', y= 'count', color='g', data=data, order=data.sort_values('count',ascending = False).neighbourhood)
viz_bar.set_title('Top 10 highest listing neighborhood')
viz_bar.set_xlabel('Neighbourhood')
viz_bar.set_ylabel('Count of Airbnb')
plt.tick_params(axis='x', rotation=45)

plt.show()

## **Checking which category of room type has highest number of counts**

In [ ]:
vc = pd.DataFrame((df['room_type'].value_counts(normalize = True ) * 100) )
fig, ax = plt.subplots()
labels = vc.index.tolist()
percentages = vc.room_type.tolist()
explode=(0,0,0.1)
ax.pie(percentages,explode = explode, labels = labels,autopct='%1.0f%%')
ax.set_title("Room Type")
ax.legend(frameon=False, bbox_to_anchor=(1.5,0.8))

Entire home/apt has highest count followed by private room. 

Shared room has least number of counts.

## **What is the average price based on location and room type??**

In [ ]:
average_price_df = pd.DataFrame(df.groupby(['neighbourhood_group','room_type'])['price'].mean().unstack())
average_price_df

In [ ]:
average_price_df.plot.bar()
sns.set(rc={'figure.figsize':(10,8)})
plt.show()

From above plot we can observe that average price for entire home/apt is highest compared to private and shared rooms.

However, there is not much difference in price of shared and private rooms.

## **What are the minimum and maximum price in different neighbourhood according to room types**

In [ ]:
min_and_max_df = pd.DataFrame(df.groupby(['neighbourhood_group','room_type'])['price'].describe()[['min','max']].unstack())
min_and_max_df

The min price for entire home / apt as room type in Manhattan and Brooklyn is $10 and maximum goes upto $10000.

For each room type the mean price for Manhattan is the most which makes it the most expensive place to stay.

# **Find the total count of each room type according to neighbourhood_group**

In [ ]:
count_room_type = pd.DataFrame(df.groupby(['neighbourhood_group'])['room_type'].value_counts().unstack())
count_room_type

In [ ]:
count_room_type.plot.bar()
plt.show()

Manhattan has the maximum number of Entire home / apt as room_type and Brooklyn has the maximum number of Private room.

## what can we learn from predictions ?
## locations , prices, reviews, etc...

In [ ]:
areas_reviews = df.groupby(['neighbourhood_group'])['number_of_reviews'].max().reset_index()
areas_reviews.sort_values(by='number_of_reviews',ascending=False).head(5)

In [ ]:
area = areas_reviews['neighbourhood_group']
review = areas_reviews['number_of_reviews']

fig = plt.figure(figsize=(10,5))


plt.bar(area , review , color = 'maroon', width = 0.5)
plt.xlabel('AREA')
plt.ylabel('REVIEW')
plt.title('AREA VS NUMBER OF REVIEWS')
plt.show()

In [ ]:
price_area = df.groupby(['price'])['number_of_reviews'].max().reset_index()
price_area.head()

In [ ]:
area = price_area['price']
price = price_area['number_of_reviews']

fig = plt.figure(figsize=(10,5))

###plotting a graph

plt.scatter(area , price , color='blue')

plt.xlabel('price')
plt.ylabel('Number of reviews')
plt.title('PRICE VS NUMBER OF REVIEWS')
plt.show()

From the above analysis we can say that most people prefer to stay in place where price is less

## **lets look at the distribution of the listings with availability.**

In [ ]:
availability_type=df.groupby(['neighbourhood_group','room_type'])['availability_365'].max().reset_index()
availability_type=availability_type.sort_values(by='availability_365',ascending=False).head(10)
availability_type

# **Find the relationship between neighbourhood group and availability of rooms**

In [ ]:
avalaibilty_df = pd.DataFrame(df.groupby(['neighbourhood_group','room_type'])['availability_365'].median().unstack()).astype('int')
avalaibilty_df

In [ ]:
avalaibilty_df.plot.bar()
plt.show()

The avalaibilty of all room types is relatively low in Manhattan hence we can say that it is the most occupied neighborhood of NYC

## Wordcloud : To find the most used words in name of listings.

In [ ]:
# joining all the name of listings to form a string
text =  df['name'].str.cat(sep=' ')

In [ ]:
# remowing the stop words
import re
txt = re.sub('[^A-Za-z ]+', ' ', text)
txt = " ".join(txt.split())

In [ ]:
plt.subplots(figsize=(15,15))
wordcloud = WordCloud(
                          background_color='white',
                          width=1920,
                          height=1080
                         ).generate(txt)
plt.imshow(wordcloud)
plt.axis('off')
plt.savefig('neighbourhood.png')
plt.show()

## **Conclusions**

* Manhattan is the most spread area in New York for hosting.
* The most popular room type is 'Entire home/apt,' with 52 percent of listings, and the least popular is 'Shared Room,' with only 2.4 percent of listings.
* The average price for an entire home/apt is the highest, but there is no notable difference between the pricing of a Shared room and a Private Room in most of the neighborhood groups. 
* In every neighbourhood, people stay in the entire home / apt room type for longer periods of time.
* Since the avalaibilty of Entire home/apt and Private room is relatively low in Manhatttan new hosts should invest in these room type.
* The properties are usually described in the listing's name.